body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
h1 {
    font-size: 50px;
    color: rgb(68, 82, 95);
}
.n-color{
    color: orange;
}
.container{
    display: flex;
    margin-bottom: 100px;
    margin-top: 5px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 90%;
    margin-top: 8px;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 18px 40px;
    color: white;
    font-weight: 700;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

}
.half-width p{
    margin-bottom: 40px;
}
.about-me{
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.recipie{
    padding: 0px 20px 2px 20px;
    margin: 5%;
}
.recipi-1{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 10px;
}
.r-item{
    display: flex;
    width: 100%;
    padding: 1px 5px 5px 20px;
    

}
.item{
    width: 30%;
    box-shadow: 0 6px 20px 0 rgba(39, 37, 37, 0.25);
    margin: 10px;
    padding: 2px;
    border-radius: 15px;
    display: block;

}
.item img{
    width: 100%;
    padding: 10px;
}
.image{
    padding: 5px 10px;
    margin: 5px 20px 5px 0px;
}
.r-detail{
    padding: 5px 10px;
}
.r-detail p h3{
    text-align: left;
h2{
    font-weight: bold;
}
